@use '../custom'as *;
@use '../components/mixins'as *;

.menu {
     font-family: 'Poppins', sans-serif;
     font-weight: 700;
     @include gradient;

     a {
          color: $pastel-blue !important;
          text-transform: capitalize;
          font-weight: 600;
          transition: ease-in-out 300ms;
     }

     a:hover {
          color: $pastel-yellow !important;
          transition: ease-in-out 300ms;
     }

     li {
          padding: 5px 0.7rem;


     }
}